[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AnnElizabethBabu
[access "refs/for/refs/*"]
	read = group user/AnnElizabethBabu
	push = group user/AnnElizabethBabu
	label-Code-Review = -2..+2 group user/AnnElizabethBabu
	label-Verified = -1..+1 group user/AnnElizabethBabu
	rebase = group user/AnnElizabethBabu
	removeReviewer = group user/AnnElizabethBabu
	submit = group user/AnnElizabethBabu
[access "refs/heads/*"]
	read = group user/AnnElizabethBabu
	create = group user/AnnElizabethBabu
	push = +force group user/AnnElizabethBabu
	pushMerge = group user/AnnElizabethBabu
[access "refs/tags/*"]
	push = group user/AnnElizabethBabu
	push = +force group user/AnnElizabethBabu
